@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-y: hidden;
}

header{
    display:flex;
    justify-content: space-between;
    margin:3rem 0 0 3rem;
}

.line{
    height: 0.5px;
    width: 20%;
    background: rgb(66, 66, 66);
    margin-top: 2rem;
}
.navbar-collapse{
    display:none;
}
.navbar{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 5px;
    height: 65px;
    width: 60%;
}
.navbar ul{
    display:flex;
    justify-content:space-evenly;
    margin:1rem;
    
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar ul li:hover{
    padding-bottom: 1rem;
    border-bottom: 3px solid rgb(196, 191, 191);
}
.active{
    padding-bottom: 1rem;
    border-bottom: 4px solid rgb(226, 225, 225);
}
.main-section{
    display:inline-block;
    margin-left: 3rem;
    padding-left: 3rem;
}
.destination-container{
    display: flex;
    justify-content: space-around;
}
.number{
    font-size: 3rem;
    color: rgb(95, 93, 93);
}
.title{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    letter-spacing:2px;
    text-transform: uppercase;
    padding-left: 1rem;
}
.content{
    display: flex;
    justify-content:space-around;
}

.main-header{
    display: flex;
    flex-direction: column;
}
.main-header .image{
    margin:2rem;
}
.tabs ul{
    list-style: none;
    display: flex;
}
.tabs li{
    margin:2rem;
}
.tabs a{
    background: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: rgb(148, 151, 172);
    font-size:15px;
}

.destinations{
    display: flex;
    justify-content: center;
}
.info{
    width: 40%;
    margin: 2rem;
    color: aliceblue;
}
.info h1, .info p{
    padding-bottom: 1rem;
}
.more-info{
    padding-top: 1rem;
    display: flex;
    justify-content:space-around;
}

/* Responsive screen sizes */

@media (min-width:427px) and (max-width:769px){
    body{
        font-family: 'Playfair Display', serif;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-clip: border-box;
        background-repeat: no-repeat;
        min-height: 100vh;
        overflow-y:unset;
    }
    .line,.navbar{
        display: none;
    }
    header{
        width:80%;
        height: 100px;
    }
    .navbar-collapse{
        display:unset;
    }
    .hamburger{
        display: flex;
        width: 38px;
        height: 32px;
        cursor: pointer;
    }
    .close{
        display: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
    .animation-open{
        display: flex;
        flex-direction: column;
        animation: menuAnimationOpen ease-in 0.2s both;
    }
    .animation-close{
        display: flex;
        flex-direction: column;
        animation: menuAnimationClose ease-in-out 0.2s  reverse both;
    }
    
    .navbar{
        height: 300px;
        margin-top: 29px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
    }
    .navbar ul li{
        margin-top: 2rem;
        margin-left: 0;
    }
    .navbar ul li a {
        letter-spacing: 1px;
    }
    .main-section{
        height: 100%;
        justify-content:center;
        align-items: center;
    }
    .content{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    .content p{
        width: 88%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .space{
        margin: 0;
    }
    .tabs nav ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    .image{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #planet-img{
        height: 200px;
        width: 200px;
    }
}
@media (max-width:600px){
    body{
        width: 100%;
        background-image: url(./assets/destination/background-destination-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        overflow-y:unset;
    }
    .line, .navbar{
        display: none;
    }
    header{
        width: 80%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .navbar-collapse{
        display: flex;
    }
    .hamburger{
        display: flex;
        width: 40px;
        height: 32px;
        cursor: pointer;

    }
    .close{
        display: none;
        width: 40px;
        height: 32px;
        cursor: pointer;

    }
    .animation-open{
        display: flex;
        animation: menuAnimationOpen ease-in 0.2s both;
    }
    .animation-close{
        display: flex;
        animation: menuAnimationClose ease-in-out 0.2s  reverse both;
    }
    .navbar {
        height: 300px;
        margin-top: 29px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items:center;
    }
    .navbar ul li{
        margin-top: 2rem;
        margin-left: 0;
    }
    .navbar ul li a {
        letter-spacing: 1px;
    }
    .main-section{
        width: 86%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content p{
        width: 100%;
        font-size: 16px;
    }
    
    .tabs nav ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    .image{
        display:none;
    }
}

@keyframes menuAnimationOpen {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
      }
      100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
      }
}
@keyframes menuAnimationClose{
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
      }
      100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
      }
}
